{% extends 'base.html' %} {% block title %} {% endblock title %} {% block
content %}
<h1 class="todo-title">My todos</h1>
<table border="1" cellspacing="2" , cellpadding="2">
  <tr>
    <th>My todo</th>
    <th>Time</th>
    <th>Actions</th>
  </tr>

  {% if todos %} {% for todo in todos %}
  <tr>
    <ol>
      <td>
        <li>{{todo.body}}</li>
      </td>

      <td>{{todo.time}}</td>
      <td>
        <a href="/update/{{todo.id}}" class="add">Update</a>
        <a href="/delete/{{todo.id}}" class="del">Delete</a>
      </td>
    </ol>
  </tr>
  {% endfor %}
</table>
{% else %}
<h1 class="no-todo">There are no todos in your list</h1>
{% endif %} {% endblock content %}
